{# purpose of this template: module configuration page #}
{% extends 'MUTransportModule::adminBase.html.twig' %}
{% block title __('Create the assignment') %}
{% block admin_page_icon 'square' %}
{% block content %}

    <div class="mutransportmodule-database mutransportmodule-edit">
    <div class="col-md-5">
    <ul id="sourcelist">  
    {% for source in sources %}
    {% set color = 'btn-default' %}
    {% if source.fieldType == 'int' %}
        {% set color = 'btn-primary' %}
    {% endif %}
    {% if source.fieldType == 'datetime' %}
        {% set color = 'btn-success' %}
    {% endif %}
    {% if source.fieldType == 'text' %}
        {% set color = 'btn-danger' %}
    {% endif %}
    {% if source.fieldType == 'tinyint' %}
        {% set color = 'btn-info' %}
    {% endif %}
        <li class="btn btn-sm {{ color }}">{{ source.fieldName }}
        <span class="badge">{{ source.fieldType }}</span>
        <span class="badge">{{ source.fieldLength }}</span></li>
    {% endfor %}
    </ul>

    </div>
    <div class="col-md-7">
    <ul id="targetlist">
    {% for target in targets %}
    {% set color = 'btn-default' %}
    {% if target.fieldType == 'int' %}
        {% set color = 'btn-primary' %}
    {% endif %}
    {% if target.fieldType == 'datetime' %}
        {% set color = 'btn-success' %}
    {% endif %}
    {% if target.fieldType == 'text' %}
        {% set color = 'btn-danger' %}
    {% endif %}
    {% if target.fieldType == 'tinyint' %}
        {% set color = 'btn-info' %}
    {% endif %}
    <div class="col-md-4 {{ color }}">
    <div class="btn field">
        <span class="target">{{ target.fieldName }}
        <span class="badge">{{ target.fieldType }}</span>
        <span class="badge">{{ target.fieldLength }}</span></span>
    </div>  
    <ul class="listforfields">  
    </ul>
    </div>
    {% endfor %}
    </ul>
    </div>
    <br />
    
        {% form_theme form with [
            '@MUTransportModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'databaseEditForm', class: 'mutransport-edit-form'}}) }}
        {{ form_errors(form) }}        
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.select) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
  // sourcelist item draggable machen
  $('#sourcelist > li').draggable({
    revert: 'invalid'
  });
  $('#sourcelist').droppable({
    accept: ".dropped",
      drop: function(evt, ui) {
          ui.helper.attr("style", "position: relative").appendTo($(this));
          // verschobenes Element draggable machen
      }
  })
  
  .sortable();
  
  // placeholder droppable machen
  $('.listforfields').droppable({

      accept: ".btn",
      drop: function(evt, ui) {
          ui.helper.addClass('dropped').attr("style","").appendTo($(this))
          // verschobenes Element draggable machen
          .draggable({
              revert: 'invalid'
          });
      }
  
  }).sortable({
      connectWidth: "#sourcelist"
  });
  
  $('#targetlist').sortable();
  
  function session() {
        var fieldstring = '';
        var fields = [];
        var targetfield = '';
        var sourcefields = [];
        var fieldinfo = [];
        $('.field').each(function(i){
        var field = $(this);
        if($(this).has('li')) {
            targetfield = $(this).next().val();
            $(field > "ul > li").each(function(i) {
            sourcefields[i] = $(this).text();
        });
        fieldinfo[0] = targetfield;
        fieldinfo[1] = sourcefields;
            fields[i] = fieldinfo;
        }
  });    
  fieldstring = serialize(fields);
  $.session.set("fields", fieldstring);
  }

  });
  </script>
{% endblock %}
