{# purpose of this template: build the form to edit an instance of field #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUTransportModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUTransportModule:js/MUTransportModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUTransportModule:js/MUTransportModule.EditFunctions.js'), 99) }}
{% endblock %}
{% block title mode == 'create' ? __('Create field') : __('Edit field') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="mutransportmodule-field mutransportmodule-edit">
        {% form_theme form with [
            '@MUTransportModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'fieldEditForm', class: 'mutransport-edit-form'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Content') }}</legend>
            {{ form_row(form.fieldName) }}
            {{ form_row(form.fieldKey) }}
            {{ form_row(form.fieldType) }}
            {{ form_row(form.fieldLength) }}
            {{ form_row(form.fieldNull) }}
            {{ form_row(form.fieldDefault) }}
            {{ form_row(form.fieldExtra) }}
        </fieldset>
        
        {{ include(
            '@MUTransportModule/Table/includeSelectOne.html.twig',
            {group: 'field', heading: __('Table'), alias: 'table', mandatory: false, idPrefix: 'transportField_Table', linkingItem: field, displayMode: 'choices'}
        ) }}
        {% if mode != 'create' %}
            {{ include('@MUTransportModule/Helper/includeStandardFieldsEdit.html.twig', {obj: field}) }}
        {% endif %}
        
        {% if formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        
        {% if form.moderationSpecificCreator is defined %}
            <fieldset id="moderationFieldsSection">
                <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
                <div id="moderationFieldsContent">
                    {{ form_row(form.moderationSpecificCreator) }}
                    {{ form_row(form.moderationSpecificCreationDate) }}
                </div>
            </fieldset>
        {% endif %}
        
        
        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                    {% if mode == 'create' and action.id == 'submit' %}
                        {{ form_widget(attribute(form, 'submitrepeat')) }}
                    {% endif %}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% set hookId = mode != 'create' ? field.id : null %}
        {% set hooks = notifyDisplayHooks(eventName='mutransportmodule.ui_hooks.fields.form_edit', id=hookId, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook }}</div>
            {% endfor %}
        {% endif %}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {% set formInitScript %}
        <script type="text/javascript">
        /* <![CDATA[ */
            var mUTransportInlineEditHandlers = [];
            var mUTransportEditHandler = null;
            
            ( function($) {
                $(document).ready(function() {
                    // initialise auto completion for user fields
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('mutransportmodule_field_moderationSpecificCreator');
                    {% endif %}
                    mUTransportInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ field.id }}{% endif %}');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
