{# purpose of this template: databases list view #}
{% extends routeArea == 'admin' ? 'MUTransportModule::adminBase.html.twig' : 'MUTransportModule::base.html.twig' %}
{% block title own ? __('My databases') : __('Databases list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="mutransportmodule-database mutransportmodule-view">

    {{ block('page_nav_links') }}

    {{ include('@MUTransportModule/Database/viewQuickNav.html.twig', {workflowStateFilter: false}) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('mutransportmodule_database_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="databasesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActionsStart" />
                <col id="cName" />
                <col id="cDbName" />
                <col id="cDbUser" />
                <col id="cDbPassword" />
                <col id="cHost" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center z-w02">
                        <input type="checkbox" class="mutransport-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActionsStart" scope="col" class="z-w02">{{ __('Actions') }}</th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hDbName" scope="col" class="text-left">
                    <a href="{{ sort.dbName.url }}" title="{{ __f('Sort by %s', {'%s': 'db name'}) }}" class="{{ sort.dbName.class }}">{{ __('Db name') }}</a>
                </th>
                <th id="hDbUser" scope="col" class="text-left">
                    <a href="{{ sort.dbUser.url }}" title="{{ __f('Sort by %s', {'%s': 'db user'}) }}" class="{{ sort.dbUser.class }}">{{ __('Db user') }}</a>
                </th>
                <th id="hDbPassword" scope="col" class="text-left">
                    <a href="{{ sort.dbPassword.url }}" title="{{ __f('Sort by %s', {'%s': 'db password'}) }}" class="{{ sort.dbPassword.class }}">{{ __('Db password') }}</a>
                </th>
                <th id="hHost" scope="col" class="text-left">
                    <a href="{{ sort.host.url }}" title="{{ __f('Sort by %s', {'%s': 'host'}) }}" class="{{ sort.host.class }}">{{ __('Host') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for database in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ database.getKey() }}" class="mutransport-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ database.getKey() }}Start" headers="hItemActionsStart" class="actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('mUTransportMenuItemActions', [], {entity: database, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ database.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
                    </div>
                </td>
                <td headers="hName" class="text-left">
                    <a href="{{ path('mutransportmodule_database_' ~ routeArea ~ 'display', {'id': database.getId()}) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ database.name|notifyFilters('mutransportmodule.filterhook.databases')|safeHtml }}</a>
                </td>
                <td headers="hDbName" class="text-left">
                    {{ database.dbName }}
                </td>
                <td headers="hDbUser" class="text-left">
                    {{ database.dbUser }}
                </td>
                <td headers="hDbPassword" class="text-left">
                </td>
                <td headers="hHost" class="text-left">
                    {{ database.host }}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}7{% else %}6{% endif %}">
            {{ __('No databases found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'mutransportmodule_database_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUTransportModuleAction" class="col-sm-3 control-label">{{ __('With selected databases') }}</label>
                <div class="col-sm-6">
                    <select id="mUTransportModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if permissionHelper.hasComponentPermission('database', constant('ACCESS_EDIT')) %}
                {% set createTitle = __('Create database') %}
                <a href="{{ path('mutransportmodule_database_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            {% set routeArgs = own ? {own: 1} : {} %}
            <a href="{{ path('mutransportmodule_database_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            {% set routeArgs = own ? {all: 1, own: 1} : {all: 1} %}
            <a href="{{ path('mutransportmodule_database_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-table"></i> {{ linkTitle }}</a>
        {% endif %}
        {% if own == 1 %}
            {% set linkTitle = __('Show also entries from other users') %}
            {% set routeArgs = all ? {all: 1} : {} %}
            <a href="{{ path('mutransportmodule_database_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-users"></i> {{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show only own entries') %}
            {% set routeArgs = all ? {all: 1, own: 1} : {own: 1} %}
            <a href="{{ path('mutransportmodule_database_' ~ routeArea ~ 'view', routeArgs) }}" title="{{ linkTitle|e('html_attr') }}"><i class="fa fa-user"></i> {{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='mutransportmodule.ui_hooks.databases.display_view', urlObject=currentUrlObject, outputAsArray=true) %}
        {% if hooks is iterable and hooks|length > 0 %}
            {% for area, hook in hooks %}
                <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
            {% endfor %}
        {% endif %}
    {% endif % #}
{% endblock %}
